// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lBlue: #315b96;
$pink: #fadcdc;
$lPink: #ffe5e5;
$green: #76d8aa;
$redOrange: #d57868;
$white: #ffffff;


